<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Urbografia</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Favicon -->
  <link rel="shortcut icon" href="favicon.ico">
  <!-- Bootstrap -->
  <link rel="stylesheet" href="assets/styles/vendor/bootstrap.min.css">
  <!-- Fonts -->
  <link rel="stylesheet" href="assets/fonts/et-lineicons/css/style.css">
  <link rel="stylesheet" href="assets/fonts/linea-font/css/linea-font.css">
  <link rel="stylesheet" href="assets/fonts/fontawesome/css/font-awesome.min.css">
  <!-- Slider -->
  <link rel="stylesheet" href="assets/styles/vendor/slick.css">
  <!-- Lightbox -->
  <link rel="stylesheet" href="assets/styles/vendor/magnific-popup.css">
  <!-- Animate.css -->
  <link rel="stylesheet" href="assets/styles/vendor/animate.css">


  <!-- Definity CSS -->
  <link rel="stylesheet" href="assets/styles/main.css">
  <link rel="stylesheet" href="assets/styles/responsive.css">

  <!-- JS -->
  <script src="assets/js/vendor/modernizr-2.8.3.min.js"></script>
  <style>
    img {
      image-rendering: -webkit-optimize-contrast !important;
    }

    .testimonials-3col .t-item img {
      border: none !important;
      border-radius: 0px !important;
    }
  </style>
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar">

  <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->


  <!-- ========== Preloader ========== -->

  <div class="preloader">
    <img src="assets/images/loader.svg" alt="Loading...">
  </div>



  <!-- ========== Navigation ========== -->

  <nav style="display:none" class="navbar navbar-default navbar-fixed-top mega navbar-inverse navbar-trans navbar-trans-dark trans-helper"
    role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
          aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <!-- Logo -->
      </div>
      <!-- / .navbar-header -->

      <!-- Navbar Links -->
      <div id="navbar" class="navbar-collapse collapse">



        <!-- Navbar Links Right -->
        <ul class="nav navbar-nav navbar-right">



          <!-- Languages -->
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">EN
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a href="#">DE</a>
              </li>
              <li>
                <a href="#">FR</a>
              </li>
              <li>
                <a href="#">ES</a>
              </li>
            </ul>
          </li>
          <!-- / Languages -->

        </ul>
        <!-- / .nav .navbar-nav .navbar-right -->

      </div>
      <!--/.navbar-collapse -->
    </div>
    <!-- / .container -->
  </nav>
  <!-- / .navbar -->



  <!-- ========== Hero Cover ========== -->

  <div id="home" class="agency-hero">
    <div class="hero-wrapper">
      <div class="hero-content">
        <img class="lead-img" src="/elements/urbologolight.png" alt="Agency Hero">
        <div class="text-wrapper">
          <h4>Urbografia</h4>
        </div>
      </div>
    </div>

    <!-- Scroller -->
    <a href="#about" class="scroller scroller-dark">
      <span class="scroller-text">scroll down</span>
      <span class="linea-basic-magic-mouse"></span>
    </a>
  </div>
  <!-- / .agency-hero -->



  <!-- ========== About - Section ========== -->

  <section id="about" class="container">
    <div class="row section">

      <header class="sec-heading">
        <h2>Despre Urbografia</h2>
        <span class="subheading">Salut, {{name.first}}! Te invităm să descoperi o Mașină a Timpului care redefinește vintage-ul și îl accesorizează
          la viața de zi cu zi. Prezentarea de mai jos îți explică despre ce este proiectul nostru, o inițiativă fresh căreia
          tu ne poți ajuta să-i dăm factorul wow și să devină realitate. </span>
      </header>

      <div class="col-md-4">
        <!--
              <blockquote>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
              <footer><cite>by Henry Hill</cite></footer></blockquote>-->
        <p>Straturile urbane se aștern unul peste altul, epocile se intersectează, însă unele lucruri rămân ca ancore: firmele
          vintage din '30 până în '80, martore ale comerțului și vieții Bucureştiului.</p>
      </div>
      <div class="col-md-4">
        <p>Aceste vestigii urbane sunt pe cale de dispariție, dar brand-urile pe care le-au reprezentat trebuie să-și continue
          povestea și să rămână pe scena urbană.</p>
      </div>
      <div class="col-md-4">
        <p>Pentru că nimic nu se pierde, ci totul se transformă, ne-am gândit să aducem simbolurile orașului mai aproape de
          oameni, să le exploreze în voie și să le poarte sub diverse forme.</p>
      </div>
    </div>
    <!-- / .row -->
  </section>
  <!-- / .container -->

  <section class="container-fluid portfolio-layout portfolio-1col-fw">
    <div class="row">
      <div id="pfolio">

        <!-- Item 1 -->
        <figure class="portfolio-item print">
          <div class="col-md-7 no-gap img-wrapper">
            <img src="/private/_DSC8554.jpg" alt="Project Example">
          </div>
          <figcaption class="col-md-5 no-gap">
            <h3>Target</h3>
            <p>Hipsterii, corporatiștii și nostalgicii devin adevărați ambasadori ai unor item-uri cu tentă vintage dar și cu
              un twist contemporan - mix-ul ideal. Mereu în căutare de ceva non-mainstream, out of the box sau care să aducă
              aminte de vremurile bune, target-ul va găsi la Urbografia fix ce-și dorește.
            </p>
          </figcaption>
        </figure>
        <!-- / .portfolio-item -->

        <!-- Item 2 -->
        <figure class="portfolio-item webdesing">
          <div class="col-md-7 no-gap img-wrapper pull-right">
            <img src="/private/_DSC8503.jpg" alt="Project Example">
          </div>
          <figcaption class="col-md-5 no-gap pull-left">
            <h3>Despre Logo-uri</h3>
            <p>Luăm 10 logo-uri vechi din București, le revitalizăm, le reinventăm, le dăm context și le livrăm oamenilor propria
              lor felie de București vintage, un București pe care-l pot purta cu ei și nu stă închis într-o vitrină de muzeu.
            </p>
          </figcaption>
        </figure>
        <!-- / .portfolio-item -->

        <!-- Item 3 -->
        <figure class="portfolio-item photo">
          <div class="col-md-7 no-gap img-wrapper">
            <img src="/private/_DSC8408.jpg" alt="Project Example">
          </div>
          <figcaption class="col-md-5 no-gap">
            <h3>Item-uri</h3>
            <p>Luăm 10 logo-uri vechi din București, le revitalizăm, le reinventăm, le dăm context și le livrăm oamenilor propria
              lor felie de București vintage, un București pe care-l pot purta cu ei și nu stă închis într-o vitrină de muzeu.
            </p>
          </figcaption>
        </figure>
        <!-- / .portfolio-item -->

      </div>
      <!-- / #pfolio -->
    </div>
    <!-- / .row -->
  </section>
  <!-- / .portfolio-1col-fw -->

  <!-- ========== Testimonials ========== -->

  <div id="testimonials" class="gray-bg">
    <section class="container testimonials-3col">

      <div class="row section">

        <header class="sec-heading">
          <h2>Echipa noastra</h2>
        </header>

        <!-- Item 1 -->
        <div class="col-md-4 mb-sm-50">
          <div class="t-item wow fadeIn" data-wow-duration=".5s">
            <img src="https://via.placeholder.com/200x200" alt="Testimonial">
            <blockquote>
              <footer>
                <cite>Alina Hudek
                  <span>Grafica</span>
                </cite>
              </footer>
            </blockquote>

          </div>
          <!-- / .t-item -->
        </div>
        <!-- / .col-md-4 -->

        <!-- Item 2 -->
        <div class="col-md-4 mb-sm-50">
          <div class="t-item wow fadeIn" data-wow-duration=".5s" data-wow-delay=".15s">
            <img src="https://via.placeholder.com/200x200" alt="Testimonial">
            <blockquote>
              <footer>
                <cite>Andrei Tudoran
                  <span>Foto</span>
                </cite>
              </footer>
            </blockquote>

          </div>
          <!-- / .t-item -->
        </div>
        <!-- / .col-md-4 -->

        <!-- Item 3 -->
        <div class="col-md-4">
          <div class="t-item wow fadeIn" data-wow-duration=".5s" data-wow-delay=".3s">
            <img src="https://via.placeholder.com/200x200" alt="Testimonial">
            <blockquote>
              <footer>
                <cite>Petre Popescu
                  <span>Web Dev</span>
                </cite>
              </footer>
            </blockquote>

          </div>
          <!-- / .t-item -->
        </div>
        <!-- / .col-md-4 -->
      </div>
      <div class="row">
        <!-- Item 1 -->
        <div class="col-md-4 mb-sm-50">
          <div class="t-item wow fadeIn" data-wow-duration=".5s">
            <img src="https://via.placeholder.com/200x200" alt="Testimonial">
            <blockquote>
              <footer>
                <cite>Emanuel Olteanu
                  <span>Promovare</span>
                </cite>
              </footer>
            </blockquote>

          </div>
          <!-- / .t-item -->
        </div>
        <!-- / .col-md-4 -->

        <!-- Item 2 -->
        <div class="col-md-4 mb-sm-50">
          <div class="t-item wow fadeIn" data-wow-duration=".5s" data-wow-delay=".15s">
            <img src="https://via.placeholder.com/200x200" alt="Testimonial">
            <blockquote>
              <footer>
                <cite>Irina Bozeanu
                  <span>Promovare</span>
                </cite>
              </footer>
            </blockquote>

          </div>
          <!-- / .t-item -->
        </div>
        <!-- / .col-md-4 -->

        <!-- Item 3 -->
        <div class="col-md-4">
          <div class="t-item wow fadeIn" data-wow-duration=".5s" data-wow-delay=".3s">
            <img src="https://via.placeholder.com/200x200" alt="Testimonial">
            <blockquote>
              <footer>
                <cite>Cristi Radu
                  <span>PM &amp; Documentare</span>
                </cite>
              </footer>
            </blockquote>

          </div>
          <!-- / .t-item -->
        </div>
        <!-- / .col-md-4 -->

      </div>
      <!-- / .row -->

      <!-- Client Slider -->

    </section>
    <!-- / .container -->
  </div>

  <div class="gray-bg">
    <section id="services" class="container ft-cards">
      <div class="row section">

        <header class="sec-heading">
          <h2>Ce oferim</h2>
        </header>

        <!-- Item 1 -->
        <div class="col-lg-4 col-md-6 mb-sm-50">
          <div class="ft-item wow fadeInUp" data-wow-duration="1s">
            <span class="et-global"></span>
            <h4>Website</h4>
          </div>
        </div>

        <!-- Item 2 -->
        <div class="col-lg-4 col-md-6 mb-sm-50">
          <div class="ft-item wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
            <span class="et-facebook"></span>
            <h4>Facebook</h4>
          </div>
        </div>

        <!-- Item 3 -->
        <div class="col-lg-4 col-md-6 mb-sm-50">
          <div class="ft-item wow fadeInUp" data-wow-duration="1s" data-wow-delay=".6s">
            <span class="et-camera"></span>
            <h4>Instagram</h4>
          </div>
        </div>

      </div>
      <!-- / .row -->
    </section>
  </div>
  <!-- / .gray-bg -->

  <section class="container ft-steps-numbers">
    <div class="row section">

      <header class="sec-heading ws-s">
        <h2>PAȘII DE URMAT</h2>
        <span class="subheading">Credem că, în adevărat stil vintage, organizarea e cheia succesului. Ne-am gândit la trei pași simpli pentru ca Urbografia
          să devină realitate.
        </span>
      </header>

      <!-- Step 1 -->
      <div class="col-lg-4 col-md-6 mb-sm-100 ft-item wow fadeIn" data-wow-duration="1s">
        <span class="ft-nbr">01</span>
        <h4>Design &amp; Parteneriat.</h4>
        <p>Noi facem design-ul logo-urilor, voi ne ajutați să-l aducem la viață! </p>
      </div>

      <!-- Step 2 -->
      <div class="col-lg-4 col-md-6 mb-sm-100 ft-item wow fadeIn" data-wow-duration="1s" data-wow-delay=".3s">
        <span class="ft-nbr">02</span>
        <h4>Producție</h4>
        <p>Producem în ediție limitată și bazat pe comenzi item-urile despre care am vorbit.</p>
      </div>

      <!-- Step 3 -->
      <div class="col-lg-4 col-md-6 ft-item wow fadeIn" data-wow-duration="1s" data-wow-delay=".6s">
        <span class="ft-nbr">03</span>
        <h4>Promovare &amp; Distribuție</h4>
        <p>Folosim toate canalele de promovare (tradiționale și neconvenționale), ducem Urbografia cât mai aproape de public,
          căruia îi livrăm prompt item-urile pe care le dorește.
        </p>
      </div>

    </div>
    <!-- / .row -->


    <!-- / .row -->

  </section>
  <!-- / .container -->



  <!-- ========== CTA - Contact Link ========== -->

  <div class="cta-link">
    <div class="bg-overlay">

      <div class="cta-wrapper">
        <h3 class="h-alt wow fadeIn" data-wow-delay=".1s" data-wow-duration="1s">{{name.first}}, acum că știi despre ce e vorba, are you in?</h3>
        <!-- <a href="#contact" class="btn btn-light btn-large wow fadeIn" data-wow-delay=".3s" data-wow-duration="1s">THUMBS UP</a> -->
      </div>

    </div>
  </div>
  <!-- / .dark-bg .cta-link -->


  <section style="margin-top: 0px;" class="container-fluid portfolio-layout portfolio-columns-fw">
    <div class="row">
      <div id="pfolio">

        <!-- Default (Light) -->
        <div class="col-md-6 portfolio-item">
          <div class="p-wrapper">
            <img src="/private/_DSC8405.jpg" alt="Project Example">
          </div>
        </div>

        <div class="col-md-6 portfolio-item">
          <div class="p-wrapper">
            <img src="/private/_DSC8447.jpg" alt="Project Example">
          </div>
        </div>

        <div class="col-md-6 portfolio-item">
          <div class="p-wrapper">
            <img src="/private/_DSC8546.jpg" alt="Project Example">
          </div>
        </div>

        <div class="col-md-6 portfolio-item">
          <div class="p-wrapper">
            <img src="/private/_DSC8458.jpg" alt="Project Example">
          </div>
        </div>
        <div class="col-md-6 portfolio-item">
          <div class="p-wrapper">
            <img src="/private/_DSC8462.jpg" alt="Project Example">
          </div>
        </div>

        <div class="col-md-6 portfolio-item">
          <div class="p-wrapper">
            <img src="/private/_DSC8542.jpg" alt="Project Example">
          </div>
        </div>
        <div class="col-md-6 portfolio-item">
          <div class="p-wrapper">
            <img src="/private/_DSC8454.jpg" alt="Project Example">
          </div>
        </div>
        <div class="col-md-6 portfolio-item">
          <div class="p-wrapper">
            <img src="/private/_DSC8474.jpg" alt="Project Example">
          </div>
        </div>
        <div class="col-md-12 portfolio-item">
          <div class="p-wrapper">
            <img src="/private/_DSC8427.jpg" alt="Project Example">
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ========== Services ========== -->


  <!-- / .gray-bg -->

  <!-- ========== Feature - Steps Numbers ========== -->








  <!-- Social Links -->
  <div class="dark-bg">
    <div class="container footer-social-links">
      <div class="row">

        <ul>
          <li>
            <a href="#">facebook</a>
          </li>
          <li>
            <a href="#">Instagram</a>
          </li>
        </ul>

      </div>
    </div>
    <!-- / .container -->
  </div>
  <!-- / .dark-bg -->


  <!-- Copyright -->
  <div class="copyright">
    <div class="container">
      <div class="row">

        <div class="col-md-6">
          <small>&copy; 2018 Urbografia.
          </small>
        </div>

        <div class="col-md-6">
          <small>
            <a href="#page-top" class="pull-right to-the-top">To the top
              <i class="fa fa-angle-up"></i>
            </a>
          </small>
        </div>

      </div>
      <!-- / .row -->
    </div>
    <!-- / .container -->
  </div>
  <!-- / .copyright -->
  </footer>
  <!-- / .footer-contact -->



  <!-- ========== Scripts ========== -->

  <script src="assets/js/vendor/jquery-2.1.4.min.js"></script>
  <script src="assets/js/vendor/google-fonts.js"></script>
  <script src="assets/js/vendor/jquery.easing.js"></script>
  <script src="assets/js/vendor/jquery.waypoints.min.js"></script>
  <script src="assets/js/vendor/bootstrap.min.js"></script>
  <script src="assets/js/vendor/bootstrap-hover-dropdown.min.js"></script>
  <script src="assets/js/vendor/smoothscroll.js"></script>
  <script src="assets/js/vendor/jquery.localScroll.min.js"></script>
  <script src="assets/js/vendor/jquery.scrollTo.min.js"></script>
  <script src="assets/js/vendor/jquery.stellar.min.js"></script>
  <script src="assets/js/vendor/jquery.parallax.js"></script>
  <script src="assets/js/vendor/slick.min.js"></script>
  <script src="assets/js/vendor/jquery.easypiechart.min.js"></script>
  <script src="assets/js/vendor/countup.min.js"></script>
  <script src="assets/js/vendor/isotope.min.js"></script>
  <script src="assets/js/vendor/jquery.magnific-popup.min.js"></script>
  <script src="assets/js/vendor/wow.min.js"></script>
  <script src="assets/js/vendor/jquery.ajaxchimp.js"></script>

  <!-- Google Maps -->
  <script src="assets/js/gmap.js"></script>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDOcd7o0W0r846FC_GoHSK56xeAvP8fV4s"></script>

  <!-- Definity JS -->
  <script src="assets/js/main.js"></script>
</body>

</html>